/** Styles inspirés de diverses sources sur le web pour un minimum de confort visuel */
TitledPane {
    -fx-background-color: #f7f7f7;
    -fx-border-color: #e0e0e0;
}

TextArea {
    -fx-border-color: #e0e0e0;
}

#commandsHandling {
    -fx-background-color: #f2f2f2;
    -fx-border-color: #d9d9d9;
}

#codeContainer {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #d9d9d9;
}

#classCode {
    -fx-background-color: #ffffff;
}

#currentlyExecuting {
    -fx-background-color: #fff8e1;
}

#outputArea {
    -fx-background-color: #eef5ff;
}

Button {
    -fx-background-color: #f7f7f7;
    -fx-border-color: #e0e0e0;
    -fx-text-fill: #333;
}